.footer {
    background: linear-gradient(to bottom, #0e0d0d21, #222222);
    color: black;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
    color: #00f2ff;
  }
  
  .footer-logo {
    width: 120px;
    height: auto;
  }
  
  .footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  