/* src/components/ContactForm.css */
.contact-form {
    background: #181818;
    padding: 30px;
    border-radius: 12px;
    width: 900px;
    box-shadow:#00ffff;
  }
  
  .contact-form h1 {
    color: #00ffff;
    font-weight: 700;
  }
  
  .contact-form .form-label {
    font-weight: 500;
  }
  .submit-button{
    color: #00ffff;
  }