/* // App.css */
.hero-section {
  background-image: url('./assets/loop.gif');
  background-attachment: fixed; /* Key for parallax effect */
  background-size: cover;
  background-position: center;
  height: 400vh;
  position: relative;
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center;
  align-items: center; */
  /* animation: backgroundScroll 10s linear; */
}


@keyframes backgroundScroll {
  from {
    background-position: 0;
  }
  to {
    background-position:  0;
  }
}

.hero-text {
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: transparent;
}
#navbar .nav-link {
  color: rgb(245, 239, 239) !important;
  font-weight: 10;
  font-size: 20px;
  margin: 10px 10px;
  text-transform: uppercase;
  font-family: 'Orbitron', sans-serif; /* <-- updated line */
}
.content-section {
  padding: 500px 0;
  background-color: rgba(255, 255, 255, 0); /* fully transparent */
  color: #fffefee0;
}



.cinematic-text-wrapper {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
}
.cinematic-text {
  font-family: 'Orbitron', sans-serif;
  color: rgb(241, 237, 237);
  font-size: 2rem;
  opacity: 0;
  text-transform: uppercase;
  transform: scale(1.8);
  animation: fadeZoomIn 2s ease-out forwards;
}
@keyframes fadeZoomIn {
  0% {
    opacity: 0;
    transform: scale(1.8);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
